/************GENERAL**************/

#contentWrapper{
    font-weight: 100;

}

#contentWrapper h1{
    margin-bottom: 25px;
}

#contentWrapper h1,#contentWrapper legend{
    font-size: 18pt;
    font-weight: 100;
    margin: 0 0 25px 0;
    color: #252469;
    text-align: justify;
    line-height: 14pt;
}

#contentWrapper ul{
    list-style-type: disc;
    margin: 15px 0 15px 50px;
}

#contentWrapper ul li{
    list-style-type: disc;
}


/*************HOME****************/
#contentWrapper .homeH1{
    font-size: 11pt;

    line-height: 15pt;
}

#contentWrapper .homeH1 span{
    font-size: 12pt;
    font-weight: 400;
}

#col4{
    float: left;
    width: 100%;
    color: #4e4e4e;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
    letter-spacing: 2px;
    margin-top: 50px;

}

#col4 a{
    color:#4e4e4e;
}

#col4 a:first-child{
    margin-left: 60px;
    width: 500px;
}


#col4 .box{
    float: left;
    padding:10px 5px 5px 5px;
    margin-right: 40px;
    width: 250px;
    height: 150px;
    border: 1px solid #e2e2e2;
    text-align: center;


    /* GRADIENT */
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

    display: inline-block;
}

#col4 #boxImage{
    background: url(../images/cbus-skyline.jpg);
    height: 150px;
    width: 250px;
}

	#contentWrapper #col4 ul li{
		list-style-type: none;
		text-align: left;
		margin: 0 0 20px 0;
		float: left;
		clear: both;
	}

	#col4 #treasury{
		float: left;
	}

	#col4 #swap{
		float: left;
	}
	
	#col4 .headerText{
		font-weight: 600;
	}

#contentWrapper #col4 ul .values{
	clear: both;
}

/******slide************/

#banner-fade{
    float: left;

    background: #414095; /* Old browsers */
    background: -moz-linear-gradient(top,  #414095 0%, #252469 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414095), color-stop(98%,#252469)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #414095 0%,#252469 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #414095 0%,#252469 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #414095 0%,#252469 98%); /* IE10+ */
    background: linear-gradient(to bottom,  #414095 0%,#252469 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414095', endColorstr='#252469',GradientType=0 ); /* IE6-9 */



    padding: 5px;
}

#banner-fade ul li div{
    float: right;
    color: white;
    width: 200px;
}

#banner-fade ul li div p{
    margin: 10px 0 10px 0;
}


#banner-fade ul li div h2{
    font-weight: bold;
    margin-top: 10px;
}

#banner-fade ul li div span{
    font-weight: bold;
    font-style: italic;
}

.slideDeck{
    position: relative;
    width: 250px;
    height: 288px;
    border: 1px solid #d9d9d9;
    float: right;
    position: relative;
    padding-top: 10px;
}

.slideDeck #title{
    position: absolute;
    left: 50px;
    top:-20px;
    font-size: 9pt;
    font-weight:500;
    color: #6e6e6e;
}

#seeAll{
    font-size: 9pt;
    font-weight:500;
    color: #6e6e6e;
    margin-left: 75px;
    color: #6969ff;
    text-decoration: underline;

}

#contentWrapper .bjqs{
    margin: 0;
}



.onDeck{
    margin: 15px 15px 35px 15px;
    position: relative;
    width: 220px;
    height: 50px;
}
.onDeck a{
    width: 260px;
    height: 85px;
    display: inline-block;
}

.onDeck img{
    width: 90px
}
.thumbnailSlide{
    float: left;
    z-index: 1;
    position: relative;
    margin-right: 10px;
}

.onDeck p{
    text-align: left;
    z-index: 1;
    position: relative;
    font-size: 10pt;
    margin-bottom: 5px;
}

.onDeck a p:first-child{
    font-weight: bold;
}

.onDeck a p.highlighted, .onDeck a:hover p {
    color: white;
}
.onDeck a span.highlighted, .onDeck a:hover span {
    position: absolute;
    top:-20px;
    left: -24px;
    background-image: url('../images/ondeckHover.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 85px;
    z-index: 0;
}



/************KEY PERSONNEL*************/

.keyBody #contentWrapper div{
    margin-bottom: 50px;
    overflow: hidden;
}

.keyBody #contentWrapper div h2{
    float: left;
    font-weight: 800;
    clear: both;
}

.keyBody #contentWrapper div img{
    float: right;
    margin-right: 50px;
}

.keyBody #contentWrapper div p{
    float: left;
    width: 50%;
    font-size: 10pt;
    text-align: justify;
    margin: 10px 0 10px 0;
    clear: both;
}

.keyBody #contentWrapper div img.vcard{
    float: left;

}

.vcards{
    display:block;
    width: 42px;
    height: 34px;

}

.keyBody h3{
    font-size: 16pt;
    font-weight: 600;

}

.keyBody hr{
    margin: 20px 0 20px 0;
    color: #223367;
}

/************LOAN PRODUCTION*************/



.loanBody #contentWrapper .loanFloat{
    width: 45%;
    height: 286px;
    background-color: #fdfdfd;
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 20px 25px;;
    padding: 20px 10px 10px 10px;

}

.loanBody #contentWrapper .loanFloat ul{
    float: left;

}

.loanBody #contentWrapper ul li{
    margin-bottom: 3px;
}

.loanBody #contentWrapper .loanFloat h2 span{


}



/************ ABOUT *************/

.aboutBody h2{
    font-size: 14pt;
    text-align: center;
    letter-spacing: .1em;
}

#squareWrapper{
    width: 100%;
    text-align: center;
    letter-spacing: 75px;
    margin: 75px 0 50px 0;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.aboutSquares{
    display: inline-block;
    height: 175px;
    width: 150px;
    text-align: center;

}

.aboutSquares a{
    height: 125px;
    width: 125px;
    display: block;

}

.aboutSquares a span{
    background: url(../images/aboutIcons.png) no-repeat;
    height: 125px;
    width: 125px;
    display: block;
    margin: 15px 0 0 15px;
}

.aboutSquares a .company{
    /*none needed*/
}

.aboutSquares a .market{
    background-position: -125px 0;
}

.aboutSquares a .staff{
    background-position: -250px 0;
}

.aboutSquares a .service{
    background-position: -375px 0;
}

/* HOVERS */

.aboutSquares a:hover .company{
    background-position: 0 -125px;
}

.aboutSquares a:hover .market{
    background-position: -125px -125px;
}

.aboutSquares a:hover .staff{
    background-position: -250px -125px;
}

.aboutSquares a:hover .service{
    background-position: -375px -125px;
}

.hoverStick{
    background-position-y: -125px !important;
}


/* INFORMATION */
.info{
    width: 75%;
    margin: 0 auto;
    text-align: justify;
    padding: 40px;
    color: white;
    font-size: 11pt;
    font-weight: 200;
    line-height: 1.5em;

    display: none;
}

.info h3{
    text-align: center;
    font-size: 16pt;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: .25em;
}

.company_info, .market_info, .staff_info, .service_info{background: #828384;}



















