html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend, 
caption, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #4e4e4e;
	font-family: 'Titillium Web', sans-serif;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}

a{  text-decoration: none;
	color: #3668b2;
};

a:hover{text-decoration: underline;}

a:visited{color:#3668b2;}

/*span*/
.strong{font-weight: 800;}

.noBorder{border: none;}

	.soloTemplate .picture .noBorder{
		border: none;
		clear: both;
	}
.smaller{font-size: 11pt;}
	
#floatLeft{
	float: left;
	margin-left: 75px;
}

#floatRight{
	float: right;
	margin-left: 25px;
	width: 600px;}

/********************CLEAR FIX*********************/

/* DIV */
.clearfix {
	clear: both
}
