{% extends "index.twig" %}
{% block pageHeader %}
<h1>Add a New Property</h1>
{% endblock %}

{% block content %}
<a class="backPropertiesLink" href="{{ indexUrl }}" >Back to Properties list</a>
<form id="properties-add-form" action="add" method="post" enctype="multipart/form-data">
    <label>Name</label>
    <input type="text" name="property[name]" placeholder="Name" required /><br>
    <label>City</label>
    <input type="text" name="property[city]" placeholder="City" required /><br>
    <label>State</label>
    <input type="text" name="property[state]" placeholder="State" maxlength="2" required /><br>
    <label>Type</label>
    <select name="property[type]" required>
        {% for t in propertyTypes %}
	<option value="{{ t|e }}">{{ t|e }}</option>
	{% endfor %}  
    </select><br>
    <label>Amount Financed</label>
    <input type="number" name="property[amountFinanced]" placeholder="Amount Financed" required /><br>
    <label>Closing Date</label>
    <input type="date" name="property[closingDate]" placeholder="Closing Date" required /><br>
    <label>Description</label>
    <textarea class="descProperties" name="property[description]"></textarea><br>
    <label>Property Image</label>
    <input type="file" name="image" accept="image/*" />
    <input class="addPropertiesLink" type="submit" value="Add Property">
</form>
{% endblock %}
