<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>MS&amp;F {{ pageTitle }}</title>
      <link href="/css/main.css" rel="stylesheet" type="text/css" />
      <link href="/css/content.css" rel="stylesheet" type="text/css"/>
      <link href="/css/form.css" rel="stylesheet" type="text/css"/>
      <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
      {% block cssIncludes %}
      {% endblock %}
   </head>
   <body class="homeBody">
      <div id="wrapper">
         <div id="topBar">
            <p>
               (614) 396-5970
            </p>
            <!--<a href=""><img src="images/arrow.png">CLIENT LOGIN</a>-->
         </div>
         <a href="/index.php" id="logo">
            MS&F Real Estate Capital
            <span>
               <!-- image replacement -->
            </span>
         </a>
         <ul class="mainNav">
            <li class="home">
               <a href="/index.php">HOME</a>
            </li>
            <li class="loan-production">
               <a href="/loan-production.php">LOAN PRODUCTION</a>
            </li>
            <li class="recent-financings">
               <a href="/recent-financings.php">RECENT FINANCINGS</a>
            </li>
            <li class="about">
               <a href="/about.php">ABOUT</a>
            </li>
            <li class="key-personnel">
               <a href="/key-personnel.php">KEY PERSONNEL</a>
            </li>
            <!-- END OF mainMenu -->
         </ul>
         <div class="clearfix"></div>
         <div id="underBar">
            <ul class="social">
               <li>Connect with us
               </li>
               <li>
                  <a href="https://www.linkedin.com/company/morris-smith-&-feyh-incorporated" target="_blank"><img src="/images/linkedin-icon.png"></a>
               </li>
               <!--
                  <li>
                               <a href="" target="_blank"><img src="/images/twitter-icon.png"></a>
                           </li>
                           <li>
                               <a href="" target="_blank"><img src="/images/facebook-icon.png"></a>
                           </li>
                  -->
            </ul>
            <p>
               Your Commercial Real Estate Lending Expert Since 1984
            </p>
            <div class="clearfix"></div>
         </div>
         <div id="contentWrapper">
            {% block pageHeader %}
            <h1>MS&amp;F Management Console</h1>
            {% endblock %}
            <div class="flash-message">
               <p>{{ flash.message }}</p>
            </div>
            {% block content %}
            {% endblock %}
            <div class="clearfix"></div>
         </div>
      </div>
      <div id="footerWrapper">
         <div id="footer">
            <a href="/index.php" id="logoFooter">
               <span>
                  <!-- image replacement -->
               </span>
            </a>
            <!--
               <form>
                   <input alt="submitButton" id="submitBtn" src="/images/arrow-blue.png" type="image" value="submit">
                   <input class="emailFooter" placeholder="enter email for company news" type="text">
               </form>
               -->
            <ul class="socialFooter">
               <li>
                  <a href="https://www.linkedin.com/company/morris-smith-&amp;-feyh-incorporated" target="_blank"><img src="/images/linkedin-icon-blue.png"></a>
               </li>
               <!--
                  <li>
                      <a href="" target="_blank"><img src="/images/twitter-icon-blue.png"></a>
                  </li>
                  <li>
                      <a href="" target="_blank"><img src="/images/facebook-icon-blue.png"></a>
                  </li>
                  -->
            </ul>
            <p>
               (614) 396-5970
            </p>
         </div>
         <div id="underFooter">
            <ul class="companyInfo">
               <li>Morris, Smith &amp; Feyh, Incorporated
               </li>
               <li>1900 Polaris Parkway, Suite 425
               </li>
               <li>Columbus, Ohio 43240
               </li>
            </ul>
            <p>
               Copyright © Morris, Smith &amp; Feyh, Incorporated
            </p>
            <br><br>
            <a id="adminLink" href="/msf/admin/properties/">Administration</a>
            <div>
               <ul id="links">
                  <li><a href="/">Home</a></li>
                  <li><a href="/loan-production.php">Loan Production</a></li>
                  <li><a href="/recent-financings.php">Recent Financings</a></li>
                  <li><a href="/about.php">About</a></li>
                  <li><a href="/key-personnel">Key Personnel</a></li>
               </ul>
            </div>
         </div>
      </div>
      <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
      {% block jsIncludes %}
      {% endblock %}
   </body>
</html>
